*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-container {
  width: 700px;
  margin: 40px auto;
}

.profile-section {
  /* display: flex; */
  /* border: solid red; */
}

.upper-section {
  display: flex;
  /* background: red; */
}
.col-two {
  /* border: solid yellow; */
  width: 100%;
  margin: 0 30px;
}
.profile-pic {
  height: 140px;
  width: 140px;
  border-radius: 100px;
  margin: 0 50px;
}

.username-container {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.followers-container {
  display: flex;
  justify-content: space-between;
  /* border: solid blue; */
  margin: 20px auto;
}
.bio-container {
  /* border: solid red; */
  padding: 5px 0;
  color: var(--text-dark);
  display: none;
}

.username-container button {
  width: 95px;
  height: 35px;
  border-radius: 10px;
  background-color: var(--tertiary);
  color: var(--text-dark);
  font-weight: 500;
  font-size: 15px;
  border: none;
}
.username-container button:hover {
  width: 95px;
  height: 35px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--text-dark);
  font-weight: 500;
  font-size: 15px;
  border: none;
}

.p-1 {
  padding: 10px 0 0 0;
}

.plus {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  font-size: 75px;
  color: var(--secondary);
  background-color: var(--secondary);
  text-align: center;
  border: 4px solid var(--primary);
  box-shadow: 0px 0px 0px 1px var(--tertiary);
  margin: 30px 20px;
}

.posts-container button {
  background: none;
  color: var(--text-dark);
  border: none;
  font-weight: 600;
  margin: 20px 30px;
}

.posts-container div {
  margin: 0 0 0 240px;
}
.red {
  border: solid red;
}

.yellow {
  border: solid yellow;
}
.profile-pic-container {
  margin: auto;
  width: 400px;
}

.followers-container-sm {
  display: none;
}
.posts-container {
  display: flex;
  justify-content: space-around;
  margin-left: 230px;
}

.top-border {
  position: absolute;
  width: 45rem;
  border-top: 0.5px solid var(--tertiary);
}
.posts-container button {
  margin: 0;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-container button:focus {
  display: flex;
  border-top: solid var(--text-dark);
  justify-content: center;
  align-items: center;
}
.posts-container svg {
  width: 15px;
  margin-right: 4px;
  color: var(--text-dark-secondary);
  display: inline;
}

.feeds-btn {
  display: none !important;
}

.story-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px; /* Adjust as needed */
  height: 52px; /* Adjust as needed */
  position: absolute; /* Position for overlaying content */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center within absolute position */
}

.circle {
  width: 100%;
  height: 100%;
  border: 8px solid transparent; /* Outer border */
  border-top: 8px solid #f7f7f7; /* Loading color */
  border-radius: 50%;
  animation: rotate 1.2s linear infinite;
}

.pulse {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  background: #f7f7f7; /* Loader color */
  border-radius: 50%;
  animation: pulsate 1s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
/* ************screen size*********** */
@media (max-width: 767px) {
  .username-container {
    display: block;
  }

  .user-name {
    width: 100%;
    padding: 10px 0;
  }

  .profile-section {
    margin: 0;
  }
  .bio-container {
    margin: 10px 25px;
    display: block;
  }

  .profile-pic {
    width: 70px;
    height: 70px;
    margin: 25px -5px 20px 20px;
  }
  .plus-container {
    display: none;
  }
  .followers-container {
    display: none;
  }

  .bio-container-xl {
    display: none;
  }

  .followers-container-sm {
    display: flex;
    justify-content: space-around;
    border: 0.5px solid var(--tertiary);
    padding: 15px 0;
    text-align: center;
  }

  .username-container button {
    width: 95px;
    margin: 0 5px 0 0;
  }
  .posts-container {
    border: 1px solid var(--tertiary);
    border-top: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-left: 0;
  }
  .posts-container svg {
    width: 25px;
    color: var(--text-dark-secondary);
  }
  .posts-container p {
    display: none;
  }

  .sm {
    display: none;
  }
  .feeds-btn {
    display: flex !important;
  }
}

.double_tap_heart {
  background: var(--heart);
}
