* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}
  .no-transition {
    transition: 0s !important;
  }
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 0.5px solid #ff0095;
  margin-top: -8px;
}
.chckbx {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
}
.chckbx:checked ~ .box .sp::before {
  animation: 2s igl infinite;
  animation-delay: calc(0.02s * var(--i));
}
.chckbx:checked ~ .box {
  animation: 10s boxx infinite linear;
  border: none;
}
.chckbx:checked ~ .box .pp {
  animation: 10s boox infinite linear;
}
@keyframes boxx {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes boox {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.pp {
  height: 54px;
  width: 54px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box:hover .pp {
  transform: translate(-50%, -50%) scale(1.05);
}
.chckbx:active ~ .box .pp {
  transform: translate(-50%, -50%) scale(0.8);
}
.sp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(calc(12deg * var(--i)));
  height: 100%;
  width: 7px;
}
.sp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #f47;
  /* background: linear-gradient(45deg, #f47, rgb(255, 96, 68), rgb(255, 152, 68)); */
}

@keyframes igl {
  0% {
    width: 1px;
    height: 1.5px;
    border-radius: 1px;
  }

  50% {
    width: 5px;
    height: 1.5px;
    border-radius: 300px;
  }
  100%,
  90% {
    width: 7px;
    height: 1.5px;
    border-radius: 300px;
  }
}

.td {
  color: var(--text-dark);
}
